.beer-container {
  margin: .25em;
  border-radius: .5em;
  background-color: #b8b800;
  padding: .5em .5em;
}

.beer-container:hover {
  cursor: pointer;
  background-color: #c8c800;
}

.beer-label {
  width: 25%;
}

.beer-container img {
  width: 75%;
  border: .15em solid black;
  border-radius: 50%;
  float: left;
}
