.beer-container {
  height: auto;
  margin: .25em;
  border-radius: .5em;
  background-color: #b8b800;
  padding: .5em;
}

.beer-container:hover {
  cursor: pointer;
  background-color: #c8c800;
}

/***********************************/

.beer-header {
  height: 50px;
  width: 100%;
  border-radius: .5em;
  text-align: center;
  padding: .1em 0;
}

.beer-header img {
  width: 45px;
  border: .15em solid black;
  border-radius: 50%;
  float: left;
}

.beer-header h2 {
  margin: auto;
  color: white;
}

.beer-header .action-buttons {
  float: right;
}

.beer-header .action-buttons .fa {
  display: block;
}

#abv-ibu-style {
  text-align: center;
  margin-bottom: 1.5em;
}

#description p {
  padding: 0 .25em;
  color: black;
}
