html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

h2,h3,h4,h5,h6 {
  font-family: 'Bree Serif', serif !important;
}

p, input {
  font-family: 'Rokkitt', serif !important;
}

button {
  font-family: 'Montserrat', sans-serif !important;
}
