.new-list-item-container {
  text-align: center;
}

.new-list-item-container input {

}

form {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.info-panel {
  max-width: 75%;
  border: 1px solid black;
  border-radius: .5em;
  background-color: #b8b800;
  margin: 0 auto;
  padding: .5em;
}

.beer-header {
  width: 100%;
  text-align: center;
  padding: .1em 0;
}

.beer-header img {
  border: .25em solid black;
  border-radius: 50%;
  text-align: left;
  float: left;
}

.beer-info {
  text-align: left;
}

#abv-ibu-style {
  text-align: center;
  margin-bottom: 1.5em;
}

#description p {
  padding: 0 .25em;
  color: black;
}

#buttons button {
  margin: 0 .25em;
}
