#show-beer-list {
  text-align: center;
  max-width: 25em;
  margin: auto;
}

#show-beer-list .button-container {
  margin: .5em 0;
  text-align: center;
}

#show-beer-list .button-container button {
  margin: .25em .15em;
}

.title-avatar img {
  display: inline-block;
  height: 5em;
  width: 5em;
  border: 1px black solid;
  border-radius: 50%;
  vertical-align: middle;
  float: left;
}

.title-listName {
  display: inline-block;
}

#show-beer-list .list-buttons {
  float: right;
  margin-left: .25em;
}

#show-beer-list .list-buttons .fa {
  display: block;
}

#show-beer-list .list-buttons .fa-times{
  color: #990000;
}

#show-beer-list .list-buttons .fa-times:hover{
  cursor: pointer;
  color: #cc0000;
}

#show-beer-list .list-buttons .fa-pencil{
  color: #004c00;
}

#show-beer-list .list-buttons .fa-pencil:hover{
  cursor: pointer;
  color: #008000;
}

#beers .info-panel {
  margin: .25em 0;
  border-radius: .5em;
  background-color: #b8b800;
  padding: .5em;
}

#beers .beer-header {
  width: 100%;
  border-radius: .5em;
  text-align: center;
  padding: .1em 0;
}

#beers .beer-header:hover {
  background-color: #5c5c00;
}

#beers h2 {
  text-align: left;
  color: gray;
}

.beer-header img {
  border: .25em solid black;
  border-radius: 50%;
  text-align: left;
  float: left;
}

.beer-info {
  text-align: left;
}

#abv-ibu-style {
  text-align: center;
  margin-bottom: 1.5em;
}

#description p {
  padding: 0 .25em;
  color: black;
}

#buttons button {
  margin: 0 .25em;
}
