.form-container {
  text-align: center;
  color: white;
}

.form-container button {
  margin-bottom: 1em;
}

form {
  margin: 3em 5em;
}

.form-control {
  margin: 0 auto;
  max-width: 20em;
}

button {
  margin: 10em;
}
